body, html {
  padding: 0;
  margin: 0;
  background-color: #222;
}

.App {
  text-align: center;
}

.App-header {
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

